section.about#about
  .profile-img__container
    .profile-img.about-items.hidden.first
      img(src='./assets/images/icon-sm.jpg').img-fluid
  .content.about-items.hidden.second
    h1.content__header Hi, I'm Jason. Nice to meet you!
    h3.content__sub I started my journey 5 years ago, and from that time, I already made a good amount of websites. From static websites to full Wordpress sites, you name it. I'm quietly confident, naturally curious, and perpetually improving my craft.