section.contact#contact
  .container
    .contact__container.contact-us.hidden
      h1.content__header Let's build<br>something
      h3.content__sub.contact__container--sub Interested in working together? Let's chat and get started with the project.
      a(href="mailto:therealjasonjara@gmail.com?Subject=Hello%20there!").contact__container--link.contact-us.hidden.second Let's get started!