.hero
  .container
    .row
      .col
        .hero__text
          h1.font-green Looking for a Web Developer?
          h3.font-white I'm a web developer & UI designer from the Philippines. I make websites, usually with Wordpress.
  .mouse__container
    a(href="#about").mouse.button
      .scroller
  #particles-js