section.skills#skills
  .container
    .content
      h1.content__header.text-center Things I'm good at
    .container__row
      .cards
        .content.content__first.content__border.skills-items.hidden.first
          img(src='./assets/images/frontend-icon-light-sm.png').content__image
          h2.content__sub Front-end Development
          p.content__text I create most of the websites that I made using Wordpress. I love to code things from scratch most of the time and enjoy bringing design ideas to life in the browser.
          p.content__green Languages I speak:
          p.content__text HTML, CSS, Sass, PugJS, PHP, Javascript, jQuery, ReactJS.
          p.content__green Dev tools that I use:
          ul.content__list
            each dev in ['Visual Studio Code', 'Wordpress', 'Woocommerce', 'Bootstrap', 'Github', 'Bitbucket', 'Heroku', 'Codepen', 'Terminal', 'cPanel', 'mySQL']
              li.content__list--items= dev
      .cards
        .content.content__border.skills-items.hidden.second
          img(src='./assets/images/design-icon-light-sm.png').content__image
          h2.content__sub Graphic Design
          p.content__text I value simple content structure, clean design patterns, and thoughtful interactions. I believe in a minimalist approach towards design.
          p.content__green Things I enjoy designing:
          p.content__text UI/UX, Web, Mobile, Apps, Branding, Social Media.
          p.content__green Design tools that I use:
          ul.content__list
            each design in ['Adobe Photoshop', 'Adobe Illustrator', 'Adobe Experience Design', 'Adobe InDesign', 'Sketch', 'InvisionApp', 'Figma']
              li.content__list--items= design