$dark-gray: #252527;
$white: #fff;
$green: #08fdd8;
// $green: #22ddb5;
$black: #000;


$p-font: 'Poppins','Helvetica', sans-serif;
$s-font: 'Coolvetica', 'Poppins', sans-serif;

.font-white {
  color: $white;
}

.font-green {
  color: $green;
}

.font-dark-gray {
  color: $dark-gray;
}

.bg-dark-gray {
  background: $dark-gray;
}

.bg-green {
  background: $green;
}

.bg-white {
  background: $white;
}

//for media query
$viewport-increment: 1px; // customize to suite

// Desktop
$desktop-wide : 1600px;
$desktop-large : 1440px;
$desktop-small : 1024px;

//Tablet
$tablet-large :  992px;
$tablet-normal :  768px;
$tablet-small :  576px;

//Phone
$phone-large :  480px;
$phone-small :  360px;

// Constraints
$min: min-width;
$max: max-width;

// Extensions

%transition {
  transition: .2s all ease-in-out;
}

%transition-slow {
  transition: .3s all ease-out;
}

%animation-scale-up {
  animation: scale-up 0.5s ease-in-out both;
}