doctype html  
html(lang='en')
  include includes/head

  body#site-body
    include includes/header

    main.site-content#site-content
      include includes/home/hero
      include includes/home/about
      include includes/home/skills
      include includes/home/works
      include includes/home/contact

    include includes/footer
    include includes/scripts