.contact {
  background: linear-gradient(to bottom, #46FDD8 50%, $white 50%);

  &__container {
    background: $dark-gray;
    color: $white;
    border-radius: 30px;
    text-align: center;
    padding: 50px 0;

    &--sub {
      width: 60%;
      margin: 0 auto;
      padding-bottom: 35px;

      @include media($max, $tablet-normal) {
        width: 90%;
      }
    }

    &--link {
      padding: 15px 50px;
      border: 2px solid $green;
      color: $white;
      font-size: 2rem;
      border-radius: 50px;
      display: inline-block;
      @extend %transition;

      @include media($max, $tablet-normal) {
        font-size: 1.5rem;
        padding: 10px 25px;
      }

      &:hover {
        background: $green;
        color: $dark-gray;
      }
    }
  }
}