.works {
  padding: 50px 0;
  background: linear-gradient(to bottom, $dark-gray 50%, $green 100%);
  color: $dark-gray;

  .cards {
    display: flex;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;

    @include media($max, 768px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include media($max, 576px) {
      flex: 100%;
      max-width: 100%;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .content {
    text-align: center;

    &__sub {
      color: $white;
      width: 60%;
      margin: 0 auto 50px;

      @include media($max, $tablet-small) {
        width: unset;

        br {
          display: none;
        }
      }

      a:hover {
        color: $green;
      }
    }
    
    &__header {
      color: $green;

    }
  }

  &__image {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    width: 100%;

    .featured {
      @extend %transition;
      position: relative;
      width: 100%;
      z-index: 5;
    }

    &:hover {
      .featured {
        opacity: 0;
        transform: scale(1.1);
      }
    }

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--logo {
      position: absolute;
      display: block;
      z-index: 10;
      width: 238px;
    }


    &--sl {
      background: #dc4648;
    }

    &--diy {
      background: #7b8086;
    }

    &--iconic {
      background: #954f20;
    }
    
    &--ukt {
      background: #9292a8;
    }

    &--yourdebt {
      background: #3d365b;
    }

    &--dpl {
      background: #1d753c;
    }
  }

  .social {
    &__text {
      color: $dark-gray;
      margin-bottom: 20px;
    }

    &__items {
      display: flex;
      padding: 0;
      justify-content: center;

      @include media($max, $tablet-small) {
        flex-direction: column;
      }
    }

    &__item {
      margin: 0 20px;
      border: 2px solid $dark-gray;
      padding: 10px 20px;
      border-radius: 40px;
      @extend %transition;

      @include media($max, $tablet-normal) {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      &:hover {
        background: $dark-gray;

        a {
          color: $green;
        }
      }

      a {
        color: $dark-gray;
        font-size: 2rem;
      }
    }
  }
}