footer.footer#footer
  .container
    .footer__items--wrap
      .footer__items
        ul.social-icons
          li.social-icons__item
            a(href="https://behance.net/therealjasonjara" target="_blank").social-icons__link
              i.fa.fa-behance
          li.social-icons__item
            a(href="https://linkedin.com/in/jasonjara" target="_blank").social-icons__link
              i.fa.fa-linkedin
          li.social-icons__item
            a(href="https://github.com/therealjasonjara" target="_blank").social-icons__link
              i.fa.fa-github
          li.social-icons__item
            a(href="mailto:therealjasonjara@gmail.com?Subject=Hello%20there!").social-icons__link
              i.fa.fa-envelope-o
      .footer__items        
        p.footer-text &copy; 2019


a(href="#").scrollTop
  i.fa.fa-chevron-up.scrollTop__icon

//- Preloader
.preloader__container
  .preloader
    .box
      span.circle
      span.title
      span.line
      span.line