header.site-header
  .container
    nav.menu__container
      ul.menu
        li.menu__items
          a(href="https://linkedin.com/in/jasonjara" target="_blank").menu__link LinkedIn
        li.menu__items
          a(href="https://behance.net/therealjasonjara" target="_blank").menu__link Behance
        li.menu__items
          a(href="https://github.com/therealjasonjara" target="_blank").menu__link Github


  .mobile
    a(href="#").hamburger
      .hamburger__container
        .hamburger__icon

    nav.menu__phone__container
      ul.menu__phone
        li.menu__items--phone
          a(href="https://linkedin.com/in/jasonjara" target="_blank").menu__link LinkedIn
        li.menu__items--phone
          a(href="https://behance.net/therealjasonjara" target="_blank").menu__link Behance
        li.menu__items--phone
          a(href="https://github.com/therealjasonjara" target="_blank").menu__link Github